# folder to ignore
CLIM/  # .nc files containing the historical HWD will expose the percentile files
OUTPUT/
FIGURES/

# files to ignore
.keys.json
.keys*
*keys*

*.csv  # do not need query files saved